<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload ="true"
	  internalLogToConsole ="false" >

	<variable name="logdirectory" value="C:\logs" />
	<targets async="true">
		<target name="File" xsi:type="File"
				fileName="${logdirectory}/log.txt"
				layout="${longdate}|${processid}|${threadid}|${callsite}|${message}|${exception:format=ToString}"
				archiveFileName="${logdirectory}/archives/log/log.{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				autoFlush="true"/>

		<target name="UserFile" xsi:type="File"
		  fileName="${logdirectory}/user.txt"
		  layout="${longdate}|${processid}|${threadid}|${callsite}|${message}|${exception:format=ToString}"
		  archiveFileName="${logdirectory}/archives/userfile/userfile.{#}.txt"
		  archiveEvery="Day"
		  archiveNumbering="Rolling"
		  maxArchiveFiles="30"
		  autoFlush="true" />

		<target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="consoleTarget" />
		<logger name="*" minlevel="Trace"  writeTo="File" />
		<logger name="user" minlevel="Trace" writeTo="UserFile" />
	</rules>
</nlog>